<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test cases">
    <test name="rest assured">
        <classes>
            <class name="com.test.ra.test_crud"/>
            <class name="com.test.ra.crud_post"/>
        </classes>
    </test>
</suite>